<h1>Please Log in to proceed</h1>

<form id="form" method='POST' style="display: flex; flex-direction: column; justify-content: space-between; width: 40%; height: 50%;">
            <label for='email'>Email Address</label>
            <input type='email' name='email' placeholder='Email Address' autocomplete='off'>
            <label for='password'>Password</label><input type='password' name='password' placeholder='Password' autocomplete='off'>
             <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <button> Sign up  </button>
        </form>

      {{#if errInLogin}} <p>Whoops! Something went wrong, please try again</p> {{/if}}