<div id="background">
<section id="register">


<h1>Thank you for helping making our city car(e)free! If you like it, tell your frieds about it & we hope to see you back here soon! </h1>
</section>
</div>