
<div id="background">
<section id="register">


<h1>Sign for a carfree Sunday! </h1>
    <form id="form" method='POST'>
  
    <input name="signature" id="inputfield" type="hidden"> 
    <label for="signature"></label>
    <canvas id="signature" width="400" height="300">

    </canvas>
    

    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        
    <button class="petition--signup"> Sign </button>

    </form>
            
           
        

      {{#if errInAddSignature}} <p>Whoops! Something went wrong, please try again</p> {{/if}}
    </section>
    </div> 
