
<div id="background">
<section id="register">
<h1> Create a profile</h1>
<p>We'd like to get to know you a bit better!</p>

<form id="form" method='POST'>
            <label for='age'></label>
            <input class="petition--input" type='text' name='age' placeholder='Age' autocomplete='off'>
            
            <label for='city'></label>
            <input class="petition--input" type='text' name='city' placeholder='City' autocomplete='off'>
            
            <label for='url'></label>
            <input class="petition--input" type='url' name='url' placeholder='Homepage' autocomplete='off'>
            
             <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button class="petition--signup">Continue</button>
        </form>

      {{!-- {{#if errInProfile}} <p>Whoops! Something went wrong, please try again</p> {{/if}} --}}
      </section>
      </div>