<div id="background">
    <section id="register">
<h1>Thank's for signing!</h1>

<div>
    <img src={{signature}} alt="signature">
</div>

<p>See who else <a href="/signers">signed</a> or <a href="/logout">logout</a></p>
<form method="POST">
<p>Changed your mind? Sorry about that! 
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>Unsign</button> </p>
</form>
</section>
</div>